body {
  background-color: black !important;
  background: url('photos/casino_back.jpg') no-repeat;
  color: gold !important;
}

h1, h3 {
  text-align: center;
}

.form-inline {
  text-align: center;
}

.menu_selection {
display: inline-block;
background-color: red;
left: 50%;
position: relative;
transform: translate(-50%);
}

.the_button {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
}

.modal-content {
  background-color: black;
  color: red;
  position: relative;
  top: 10%;
  left: 50%;
  transform:translate(-50%);
}
