body {
  background-color: #1e1e1e !important;
  /*background: url('photos/casino_back.jpg') no-repeat;*/
  color: white !important;
  font-family: luncheon !important;
  width: 100vw;
  height: 100vh;
  text-shadow: 3px 3px black;
}

h1, h2 {
  text-align: center;
}

.form {
  display:inline-block;
  position: relative;
  width: 45% !important;
  left: 20%;
}


.the_button {
  position: fixed !important;
  display: inline-block !important;
  left:47%;
}

.radio {
  margin: 10px 0 !important;
}

.the_menu {
  display: inline-block !important;
  position: relative !important;
  left: 12%;
  height: 40vh;
  max-width: 25vw;
  background-color: purple;
}

.modal-content {
  background-color: black;
  color: red;
  position: relative;
  top: 10%;
  left: 50%;
  transform:translate(-50%);
}

@font-face {
  font-family:luncheon;
  src: url(Gotham-Medium.otf);
};
